@import 'variables';
@import 'reset';
@import 'fonts';


html, body {
    box-sizing:border-box;
}

*, *::after, *::before {
    box-sizing:inherit;
}
img{
    display: block;
    height: auto;
    max-height: 100%;



    width: auto;
    max-width: 100%;

}

.main-wrapper {
    padding: 0 200px;
    max-height: 100%;
}

// header

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    z-index: 100;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__menu-item {
        display: inline-block;
        padding-left: 30px;
    }

    &__menu-link {
        @include text-small;
        text-decoration: none;
        padding: 0 5px;
        text-transform: lowercase;
        border: 2px transparent solid;

        &:hover {
            opacity: .7;
            border: $border;
            transition: .5s all;
        }
    }
}


// intro

.intro {
    padding-top: 120px;
    margin-bottom: 100px;
    height: 100vh;

    &-wrapper {
        max-height: 100%;
    }

    &-desc-wrapper {
        text-align: center;
        margin-bottom: 30px;
        }

    &-title {
        @include text-title;
    }

    &-symbol {
        font-size: 20px;
        vertical-align: top;
    }
    
    &-subtitle {
        @include text-subtitle;
        margin-bottom: 20px;
    }
    
    &-text {
        @include text-desc;
        padding: 0 60px;
        text-align:center;
    }

    &__form_wrapper {
        width: 100%;
        border: $border;
    }

}

// reddit pic 

.reddit_pic {

    &-title {

    }
    &-wrapper  {
height: 60vh;
    }

    &-picture {
margin: 0 auto;
animation-name: Appearance;
animation-duration: .5s;
animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    }
}

  
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


// cards

.cards-title {
    @include text-title;
    text-align:center;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




.card {

    &-card{
        width: 25%;
    }

    &-img-email {
    }

    &-name{
        @include text-subtitle;
    }

    &-mail{
        @include text-small;
    }

    &-review{
        @include text-desc;
    }

}




