@import 'variables';
@import 'reset';
@import 'fonts';
html,
body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.main-wrapper {
  max-width: 900px;
  padding: 0 100px;
  margin: 0 auto;
}

.annotation {
  @include text-small;
  text-align: center;
  padding-bottom: 40px;
}

.section-title {
  @include text-title;
  text-align: center;
  padding-bottom: 20px;
}

// header
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $secondary-color;
  z-index: 100;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  &__menu-item {
    display: inline-block;
    padding-left: 30px;
  }
  &__menu-link {
    @include text-small;
    text-decoration: none;
    padding: 0 5px;
    text-transform: lowercase;
    border: 2px transparent solid;
    &:hover {
      border: $border;
      transition: 0.5s all;
    }
  }
}

// intro
.intro {
  padding-top: 120px;
  margin-bottom: $marginBottom;
  &-wrapper {
    max-height: 100%;
  }
  &-desc-wrapper {
    text-align: center;
    margin-bottom: 30px;
  }
  &-symbol {
    font-size: 20px;
    vertical-align: top;
  }
  &-subtitle {
    @include text-subtitle;
    margin-bottom: 20px;
  }
  &-text {
    @include text-desc;
    padding: 0 60px;
  }
  &__form {
    &_form {
      padding: 20px 0;
    }
    &_fieldset {
      display: flex;
    }
    &_input {
      width: 40%;
    }
    &_submit {
      width: 20%;
    }
  }
}

// reddit pic
.reddit_pic {
  @include border-shadow;
  width: 700px;
  height: 750px;
  margin: 0 auto;
  background-color: rgb(233, 233, 233);

  &-title {
    @include text-subtitle;
    font-style: italic;
    padding: 20px;
    text-align: center;


  }
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 550px;
    overflow: hidden;
    object-fit:fill;

    padding: 20px;
  }
  &-picture {
    // margin: 0 auto;
    // display: inline-block;
    // vertical-align: middle;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // filter:sepia(80%) contrast(50%) saturate(50%);
    filter:contrast(70%) saturate(70%);
    animation-name: Appearance;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// cards
.section-cards {
  margin-bottom: $marginBottom;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  &-card {
    width: 30%;
    padding: 10px;
    @include border-shadow;
    margin: 10px;
  }
  &-name {
    @include text-subtitle;
    font-size: 18px;
    margin: 8px 0 4px;
  }
  &-mail {
    @include text-small;
    font-size: 12px;
    margin: 7px 0;
    color: $third-color;
  }
  &-review {
    @include text-desc;
    font-size: 16px;
    padding: 5px;
    line-height: 1.5;
  }
}

// favirite customer
.fav-customer {
  margin-bottom: $marginBottom;
  &-card {
    display: flex;
    padding: 30px;
    @include border-shadow;
  }
  &-pic-wrapper {
    max-width: 30%;
  }
  &-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    filter: grayscale(80%) sepia(80%);
  }
  &-quote {
    flex: 0 0 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 40px 30px 70px;
    &-text {
      @include text-desc;
      line-height: 2;
      font-size: 24px;
      font-style: italic;
      margin-bottom: 20px;
    }
    &-title {
      @include text-subtitle;
      text-align: right;
      font-size: 29px;
      color: $third-color;
    }
  }
}

// slider
.slider {
  margin-bottom: $marginBottom;
}

// timer
.timer {
  margin-bottom: $marginBottom;
  &-wrapper {
  }
  &-tittle-wrapper {
  }
  &-info {
    @include text-desc;
    text-align: center;
    margin-bottom: 30px;
    &-item {
      @include text-desc;
      font-weight: 700;
      color: $third-color;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-evenly;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 200px;
    width: 20%;
    @include border-shadow;
    & .num {
      @include text-title;
    }

    & .desc {
      @include text-subtitle;
    }
  }
}

.calc {
  margin-bottom: $marginBottom;

  &-fields {
    @include border-shadow;
    padding: 30px;
    height: 620px
  }

  .calculating {
    &-subtitle {
      @include text-subtitle;
      text-align: center;
      margin-bottom: 30px;
    }

    &-choose {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 30px;

      & > input {
        width: 20%;
      }

      &-item {
        cursor: pointer;
        width: 30%;
        height: 40px;
        border: $border;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        @include text-small;

        &[data-ratio] {
          width: 20%;
        }

        &.active {
          background-color: $third-color;
        }
      }
    }
    &-result {
      text-align: center;
      & .enter-data {
        @include text-subtitle;
        color:$secondary-color;
      }
      & span {
        @include text-title;
        color: $third-color;
      }
    }
  }
}
